<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label" for="textmaster-name">Project name</label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <input class="AknTextField textmaster-field" id="textmaster-name"
               name="name"
               type="text" value="<%- name %>"/>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label" for="textmaster-api-templates">API template</label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <input class="select-field multi-select textmaster-field"
               id="textmaster-api-templates" name="apiTemplates"
               type="hidden" value="<%- apiTemplates %>"/>
    </div>
</div>
