<?php
// To run the Behat features, you must copy this file to a api_credentials.php
// and replace the credentials with real values.
return [
    'api_key'    => 'your_sandbox_api_key',
    'api_secret' => 'your_sandbox_api_secret',
];
